<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evergreen</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navar -->
    <nav class="navbar navbar-expand-lg bg-success">
      <div class="container">
        <a class="navbar-brand text-light" href="/">Evergreen-CON</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item pe-3">
              <a
                class="nav-link active text-light"
                aria-current="page"
                href="/applications"
                >Applications</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active text-light" href="/devices"
                >Devices</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End of Navbar -->

    <div class="container mt-3">
      <div class="row d-flex justify-content-center">
        <div class="col-4">
          <h2>Edit Device</h2>
          <hr />

          <form action="/devices/edit" method="POST">
            <input type="hidden" name="id" value="{{ .device.Id }}" />
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                value="{{ .device.Name}}"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Location</label>
              <input
                type="text"
                class="form-control"
                name="location"
                value="{{ .device.Location}}"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Parameters</label>
              <input
                type="text"
                class="form-control"
                name="parameters"
                value="{{ .device.Parameters}}"
              />
            </div>
            <!-- <div class="mb-3">
              <label class="form-label">Type</label>
              <input
                type="text"
                class="form-control"
                name="type"
                value="{{ .device.Type.Name}}"
              />
            </div> -->
            <div class="mb-3">
              <select class="form-select" name="device_types_id">
                {{range .deviceTypes}}
                <option value="{{ .Id}}">{{.Name}}</option>
                {{end}}
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Model</label>
              <input
                type="text"
                class="form-control"
                name="model"
                value="{{ .device.Model}}"
              />
            </div>
            <div class="float-end">
              <a href="/devices" class="btn btn-secondary">Back</a>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="bg-success text-light text-center py-3 mt-5 fixed-bottom">
      <div class="container">
          &copy; 2023 Evergreen-CON
      </div>
    </footer>
  </body>
</html>
