<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evergreen</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>

<!-- End of Sidebar -->
    <!-- Navar -->
    <nav class="navbar navbar-expand-lg bg-success">
      <div class="container">
        <a class="navbar-brand text-light" href="/">Evergreen-CON</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item pe-3">
              <a
                class="nav-link active text-light"
                aria-current="page"
                href="/applications"
                >Applications</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active text-light" href="/devices"
                >Devices</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End of Navbar -->

    <div class="container mt-3">
      <h1 class="text-center">Evergreen Configuration</h1>
        
          <p class="text-center">
            Consider the activities of devices parameterization that are required
            for correct operation of the production process;
            including the configuration of IoT devices, APIs and communications.
          </p>
        
    </div>

  <hr>

<!-- Carrusel here -->
<div class="text-center"> <!-- Centrar el carrusel -->
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000"> <!-- Cambiar el valor en milisegundos para la velocidad de desplazamiento automático -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.postimg.cc/Wz1T2Jzm/evergreen-con3.jpg" alt="Primera Imagen">
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/sfHM05T4/evergreen-con11.jpg" alt="Segunda Imagen">
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/HsJrGjKD/evergreen-con21.jpg" alt="Tercera Imagen">
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" ariahidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </a>
  </div>
</div>

  <hr>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center">Applications</h3>
          <p class="text-center">
            In the world of modern agriculture, applications such as Crop Monitoring, Irrigation Control, Weather Forecasting, 
            Agricultural Drones, and Harvest Tracking are closely linked to innovative devices and sensors. These technological 
            tools harness the power of advanced sensors and specific devices to transform the way farmers manage their crops.
            These applications, supported by devices and sensors, have revolutionized agriculture by enabling more accurate 
            and timely decision-making.
          </p>
          <div class="text-center">
            <a href="/applications" class="btn btn-secondary">View Applications</a>
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="text-center">Devices</h3>
          <p class="text-center">
            In Evergreen, several devices play a crucial role in data collection and operations optimization. Among the standout devices
            are the Soil Moisture Sensor, Tractor GPS, Weather Station, Agricultural Drone, and Performance Monitor.
            The significance of configuration lies in enabling these devices to function optimally and provide reliable data.
            Together, these devices and their proper setup are essential for maximizing efficiency, reducing costs, and promoting sustainability.
          </p>
          <div class="text-center">
            <a href="/devices" class="btn btn-secondary">View Devices</a>
          </div>
        </div>
      </div>

    <!-- Footer -->
    <footer class="bg-success text-light text-center py-3 mt-5 fixed-bottom">
      <div class="container">
          &copy; 2023 Evergreen-CON
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

  </body>
</html>
